//* Animations
@keyframes heartbeat {
   from {
     transform: scale(1);
     transform-origin: center center;
     animation-timing-function: ease-out;
   }
   10% {
     transform: scale(0.91);
     animation-timing-function: ease-in;
   }
   17% {
     transform: scale(0.98);
     animation-timing-function: ease-out;
   }
   33% {
     transform: scale(0.87);
     animation-timing-function: ease-in;
   }
   45% {
     transform: scale(1);
     animation-timing-function: ease-out;
   }
}

//* Text
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// @mixin shadow($hex: #6D55BD) {
//    @keyframes text-shadow-focus {
//       0% {
//          filter: blur(5px);
//          opacity: 0;
//          text-shadow: 0 0 $hex, 0 0 $hex, 0 0 $hex, 0 0 $hex, 0 0 $hex, 0 0 $hex, 0 0 $hex, 0 0 $hex;
//          transform: translateX(0) translateY(0);
//       }
//       100% {
//          filter: blur(0px);
//          opacity: 1;
//          text-shadow: -1px 1px $hex, -2px 2px $hex, -3px 3px $hex, -4px 4px $hex, -5px 5px $hex, -6px 6px $hex, -7px 7px $hex, -8px 8px $hex;
//          transform: translateX(8px) translateY(-8px);
//       }
//    }

//    animation: text-shadow-focus 0.8s both;
// }

@keyframes text-shadow-focus-purple {
  0% {
    filter: blur(5px);
    opacity: 0;
    text-shadow: 0 0 #6D55BD, 0 0 #6D55BD, 0 0 #6D55BD, 0 0 #6D55BD, 0 0 #6D55BD, 0 0 #6D55BD, 0 0 #6D55BD, 0 0 #6D55BD;
    transform: translateX(0) translateY(0);
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    text-shadow: -1px 1px #6D55BD, -2px 2px #6D55BD, -3px 3px #6D55BD, -4px 4px #6D55BD, -5px 5px #6D55BD, -6px 6px #6D55BD, -7px 7px #6D55BD, -8px 8px #6D55BD;
    transform: translateX(8px) translateY(-8px);
  }
}

@keyframes text-shadow-focus-white {
  0% {
    filter: blur(5px);
    opacity: 0;
    text-shadow: 0 0 #FBFBFA, 0 0 #FBFBFA, 0 0 #FBFBFA, 0 0 #FBFBFA, 0 0 #FBFBFA, 0 0 #FBFBFA, 0 0 #FBFBFA, 0 0 #FBFBFA;
    transform: translateX(0) translateY(0);
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    text-shadow: -1px 1px #FBFBFA, -2px 2px #FBFBFA, -3px 3px #FBFBFA, -4px 4px #FBFBFA, -5px 5px #FBFBFA, -6px 6px #FBFBFA, -7px 7px #FBFBFA, -8px 8px #FBFBFA;
    transform: translateX(8px) translateY(-8px);
  }
}

//* Img
@keyframes fade-in-right {
  0% {
    transform: translateX(200px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    filter: blur(0px);
    opacity: 1;
  }
}