//* Миксины
@mixin flexing ($jc: center) {
   display: flex;
   align-items: center;
   justify-content: $jc;
}

@mixin pos-fixed ($t, $b, $h) {
   position:fixed;
   top:$t;
   bottom: $b;
   left:0;
   right:0;
   height: $h;
}

@mixin pseudo ($display: block, $pos: absolute, $content: ''){
   content: $content;
   display: $display;
   position: $pos;
 }

 @mixin long-shadow($hex : #FBFBFA, $size: 8) {
    $ts: ();

    @for $i from 1 through $size {
       $ts: $ts, ($i * 1px) ($i * 1px) $hex;
    }

    text-shadow: $ts;
 }