//* Работа со шрифтами
@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@import "fonts";
@import "nullstyle";
@import "mixins";
@import "anim";
// =======================================

// Переменные ===================================
$main-p: 24px;

$main-bg: #262626;
$content-bg: #6D55BD;

$ff: 'OpenSans';
$fw: 700;
$fz: 96px;

$text-color: #FBFBFA;
// ===============================================

// Общие стили =======================
body {
   font-family: $ff;
   font-weight: $fw;
   font-size: $fz;
   color: $text-color;
   
   overflow: hidden;

   background: $main-bg;
}

.nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: fixed;
   top: 0;
   right: 30px;
   bottom: 0;
   z-index: 100;

   &__link {
      width: 25px; height: 25px;
      background-color: $text-color;
      border-radius: 100%;
      margin-bottom: 10px;
   }
}


.icon {
   display: flex;
   align-items: center;
   text-align: center;
   fill: $content-bg;
   width: 50px;
   height: 50px;

   transition: all ease .2s;

   &--tools {
      width: 125px; height: 125px;
      margin-right: 45px;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
      
      @media (max-height: 950px) {
         width: 100px; height: 100px;
         margin-right: 30px;
      }
      @media (max-height: 750px) {
         width: 85px; height: 85px;
         margin-right: 25px;
      }

      &:last-child {
         margin-right: 0;
      }

      &:hover {
         animation: jello-vertical 0.9s both;
      }
   }

   &--heartbeat {
      fill: #EB5757;
      animation: heartbeat 1.5s ease-in-out infinite both;
   }
}

.text {
   &-purple {
      color: $content-bg;
      position: relative;
   }

   &-line {
      &::before {
         @include pseudo;
         top: 23px;
         left: 9px;
         width: 39px;
         height: 5px;
         background: $text-color;
      }
   }
}

.marquee {
   position: absolute;
   top: 0;
   left: -45%;
   bottom: 0;
   transform: rotate(-90deg);

   font-size: 76px;
}

.radial {
   background: radial-gradient(42.81% 42.81% at 50% 55.87%, #FFFFFF 0%, #312B45 0.01%, #262626 100%);
}
// =========================================

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
   overflow: hidden;
   height: 100vh;
   position: relative;

   &--info {
   }


   &-center {
      &--horizontal {
         display: flex;
         justify-content: space-between;
         padding-left: 40px;
         margin: 0 60px;
         
         .content__img {

         }
      }

      &--vertical {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         
         height: 100vh;
         margin: 60px 0;

         .content__img {
            @media (max-height: 950px) {
               width: 420px;
            }
            @media (max-height: 750px) {
               width: 350px;
            }
         }
      }
   }
}

.info {
   display: flex;
   align-items: center;
   position: relative;
   width: 40%;

   &__text {
      position: absolute;
      left: -100px;

      font-size: 26px;
      line-height: 1;
      color: $content-bg;

      transform: rotate(-90deg);

      span {
         font-weight: 400;
      }
   }

   &__name {
      line-height: 80px;
   }
}

.tools {
   display: flex;
   align-items: center;
   flex-direction: column;
   
   &__lang {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
   }
}