//* Работа со шрифтами
@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@import "fonts";
@import "nullstyle";
@import "mixins";
@import "anim";
// =======================================

// Переменные ===================================
$main-p: 24px;
// 950 px
// 750 px

$black-clr: #262626;
$lite-black-clr: #3d3d3d;
$white-clr: #FBFBFA;
$purple-clr: #6D55BD;
$blue-clr: #00ffff;
$red-clr: #EB5757;

$transition-time: .25s;

$ff: 'OpenSans';
$fw: 700;
$fz: 96px;
// ===============================================

// Общие стили =======================
body {
   overflow: hidden;

   font-family: $ff;
   font-weight: $fw;
   font-size: $fz;
   color: $white-clr;
   
   background: $black-clr;
   transition: all .5s ease;

   &.light {
      // color: $black-clr;
      color: $lite-black-clr;
      background: #b8bbc2;

      .icon {
         fill: $lite-black-clr;

         &--tools {
            filter: drop-shadow(2px 2px 2px $black-clr);
         }

         &--heartbeat {
            fill: $red-clr;
         }

         &--gmail {
            &:hover {
               fill: #000;
            }
         }

         &--scale {
            &:hover {
               fill: #000;
            }
            &:active {
               fill: $blue-clr;
            }
         }
      }

      .text-purple {
         color: #6d55bd;
      }

      .nav__link {
         .icon {
            stroke: #3d3d3d;
         }
         &:hover {
            .icon {
               stroke: #000;
            }
         }
         &:active {
            .icon {
               stroke: $blue-clr;
            }
         }
      }

      .info__text {
         color: $black-clr;
      }

      .theme-button {
         border: 2px solid $lite-black-clr;

         &:hover {
            color: #000;
            border-color: #000;
         }
      
         &:active {
            color: $blue-clr;
            border-color: $blue-clr;
         }
      }
   }
}

.icon {
   display: flex;
   align-items: center;
   text-align: center;
   width: 50px; height: 50px;

   fill: $purple-clr;
   transition: all ease $transition-time;

   &--tools {
      width: 125px; height: 125px;
      margin-right: 45px;
      
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));

      &:last-child {
         margin-right: 0;
      }

      &:hover {
         cursor: pointer;
      }
      
      @media (max-height: 950px) {
         width: 100px; height: 100px;
         margin-right: 30px;
      }
      @media (max-height: 750px) {
         width: 85px; height: 85px;
         margin-right: 25px;
      }
   }

   &--heartbeat {
      fill: $red-clr;
      animation: heartbeat 1.5s ease-in-out infinite both;
   }

   &--gmail {
      fill: $white-clr;

      &:hover {
         fill: $purple-clr;

         transform: scale(1.2);

         .text-hide {
            font-size: 16px;
         }
      }
   }

   &--scale {
      &:hover {
         transform: scale(1.3);
      }
      &:active {
         fill: $blue-clr;
         transform: scale(1);
      }
   }
}

.text {
   &-purple {
      color: $purple-clr;
      position: relative;

      animation: text-shadow-focus-white 0.8s both;
      transition: color $transition-time ease;
   }

   &-hide {
      font-size: 0px;

      transition: font-size $transition-time ease;
   }
}

.radial {
   background: radial-gradient(42.81% 42.81% at 50% 55.87%, #FFFFFF 0%, #312B45 0.01%, $black-clr 100%);
}
// =========================================

.nav {
   z-index: 100;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: fixed;
   top: 0;
   right: 30px;
   bottom: 0;

   &__link {
      width: 35px; height: 35px;
      margin-bottom: 10px;

      .icon {
         width: 35px; height: 35px;
         stroke: $white-clr;
      }

      &:hover {
         .icon {
            stroke: $purple-clr;
            transform: translateY(20px);
         }
      }

      &:active {
         .icon {
            stroke: $blue-clr;
            transform: translateY(30px);
         }
      }

      &:first-child {
         transform: rotate(180deg);
      }
   }
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;
   overflow: hidden;
   height: 100vh;
   position: relative;

   &-center {
      &--horizontal {
         display: flex;
         justify-content: space-between;
         padding-left: 40px;
         margin: 0 60px;

         .content__img {
            animation: fade-in-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            @media (max-height: 750px) {
               width: 500px;
            }
            @media (max-height: 650px) {
               width: 400px;
            }
         }
      }

      &--vertical {
         @include flexing(space-between);
         flex-direction: column;
         height: 100vh;
         margin: 60px 0;

         .content__img {
            @media (max-height: 950px) {
               width: 420px;
            }
            @media (max-height: 750px) {
               width: 350px;
            }
            @media (max-height: 650px) {
               width: 300px;
            }
         }
      }
   }
}

.info {
   display: flex;
   align-items: center;
   position: relative;
   width: 40%;

   &__text {
      position: absolute;
      left: -100px;

      font-size: 26px;
      line-height: 1;
      color: $purple-clr;

      transform: rotate(-90deg);
      animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

      span {
         font-weight: 400;
      }

      @media (max-height: 650px) {
         left: -75px;
         font-size: 20px;
      }
   }

   &__name {
      line-height: 80px;
      animation: text-shadow-focus-purple 0.8s both;

      transition: color $transition-time ease;

      &:hover {
         cursor: pointer;
         //? добрать цвет нормальный, ато залупа
         color: #d8b4db;

         .text-purple {
            color: $lite-black-clr;
         }
      }

      @media (max-height: 650px) {
         font-size: 70px;
         line-height: 60px;
      }
   }
}

.tools {
   display: flex;
   align-items: center;
   flex-direction: column;
   
   &__lang {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
   }
}

.marquee {
   position: absolute;
   top: 0;
   left: -45%;
   bottom: 0;
   transform: rotate(-90deg);

   font-size: 76px;

   @media (max-height: 650px) {
      left: -44%;
      font-size: 60px;
   }
}

.gmail-link {
   z-index: 101;
   position: fixed;
   right: 30px;
   bottom: 30px;

   filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));

   // &:hover {
   //    .icon--gmail {
   //       transform: translateY(-10px);
   //    }
   // }
}

.theme-button {
   z-index: 101;
   position: fixed;
   right: 30px;
   top: 30px;
   min-width: 50px; min-height: 50px;
   padding: 0 10px;

   cursor: pointer;
   font-size: 26px;

   background-color: transparent;
   border: 2px solid $white-clr;
   border-radius: 20px;
   filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));

   transition: all $transition-time ease;

   &:hover {
      transform: scale(1.1);
      color: $purple-clr;
      border-color: $purple-clr;

      .text-hide {
         font-size: 16px;
      }
   }

   &:active {
      transform: scale(1);
      color: $blue-clr;
      border-color: $blue-clr;
   }
}